<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuTurno.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="tuTurno">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:label="tuTurno">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecuperoActivity"
            android:configChanges="orientation|screenSize"
            android:label="Recuperar Contraseña" />
        <activity
            android:name=".RegistroActivity"
            android:configChanges="orientation|screenSize"
            android:label="Registrar Cliente" />
        <activity
            android:name=".Cliente.ActividadCliente"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Admin.ActividadAdmin"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SuperAdmin.ActividadSuperAdmin"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeSuperAdmin">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8540442919500654~6266197352" />

        <service
            android:name=".ServicioMensajeriaFirebase"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_notifications_active_24" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/secondaryLightColor" /> <!-- registering the receiver -->
        <receiver
            android:name=".MiAlarma"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver">
        </receiver>
        <receiver
            android:name=".MiAlarmaDias"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver">
        </receiver>
    </application>

</manifest>